@import '@/assets/scss/variables.scss';

.codeArea {
  position: absolute;
  top: 100px;
  left: 200px;
  width: 900px;
  background-color: $background-color;
  font-family: Consolas;
  color: $font-color;
  cursor: text;

  .line {
    display: flex;

    .number {
      width: 30px;
      padding: 3px 10px;
      text-align: right;
    }
  }
}
